%section#ceremony
  %h1 Cerimônia

  %article#church
    %img{ src: 'http://1.bp.blogspot.com/-LsFNxjIkUAQ/UAir_sTxQWI/AAAAAAAAAPU/YFhbGGyi3AU/s1600/Nossa+senhora+do+carmo+santa+se+1.jpg', alt: 'Igreja de Nossa Senhora do Carmo' }

    %h2 Igreja de Nossa Senhora do Carmo
    %p
      %span Endereço:
      Rua Sete de Setembro, 14 - Centro, Rio de Janeiro
    %p
      %span Horário:
      17:30h

  %article#party
    %img{ src: 'https://dl.dropboxusercontent.com/s/zr4ddl7ivb91ngy/Casa-de-Festas-Vila-Inglesa-Jpa-Freguesia.png', alt: 'Vila Inglesa' }

    %h2 Vila Inglesa
    %p
      %span Endereço:
      Estrada dos Três Rios, n° 2.134 - Freguesia - Jacarepaguá, Rio de Janeiro
    %p
      %span Horário:
      20:00h

  %article#map
    .search-box
      = text_field_tag :user_start_point, '', id: 'user-start-point', placeholder: 'Digite aqui seu endereço'
      = button_tag do
        %i.fa.fa-search

    .map-container
      = link_to '', 'https://www.google.com/maps/dir/Rua+Sete+de+Setembro,+14+-+Centro,+RJ,+20050-009,+Brazil/Estrada+dos+Tr%C3%AAs+Rios,+2134+-+Freguesia+(Jacarepagu%C3%A1),+RJ,+Brazil/@-22.9266071,-43.2924932,13z/data=!4m16!4m15!1m5!1m1!1s0x997f5f68f33bcb:0x91bbfed694c47fb5!2m2!1d-43.1749994!2d-22.903449!1m5!1m1!1s0x9bd7f49a0ccef3:0xd5b10e7ae6a0b72c!2m2!1d-43.3254095!2d-22.9314914!2m1!1b1!3e0?hl=en-US', target: '_blank', id: 'map-link'
      #map_canvas
