%section#ceremony
  %h1 Cerimônia

  %article#church
    %img{ src: 'http://nsfatimapendotiba.org/var/ezwebin_site/storage/images/media/images/capela-sao-sebastiao/1464-1-por-BR/Capela-Sao-Sebastiao_small.jpg' }

    %h2 Capela de São Sebastião
    %p
      %span Endereço:
      Estrada Velha de Itaipu, 157 - Largo da Batalha - Niterói, RJ
    %p
      %span Horário:
      19:30h

  %article#party
    %img{ src: 'http://www.solariumfestas.com.br/images/06.jpg', alt: 'Casa de Festas Solarium' }

    %h2 Casa de Festas Solarium
    %p
      %span Endereço:
      Estrada Caetano Monteiro, 964 - Matapaca - Niterói, RJ
    %p
      %span Horário:
      20:30h

  %article#map
    .search-box
      = text_field_tag :user_start_point, '', id: 'user-start-point', placeholder: 'Digite aqui seu endereço'
      = button_tag do
        %i.fa.fa-search

    .map-container
      = link_to '', 'https://www.google.com/maps/preview/dir/-22.8850746,-43.0319485/Estrada+Pacheco+de+Carvalho,+160+-+Maceio,+RJ,+Brazil/@-22.8851571,-43.0321866,18z/data=!4m11!4m10!1m0!1m5!1m1!1s0x998430a35fa771:0x23d12f9c2b4cf020!2m2!1d-43.0676197!2d-22.9102182!2m1!1b1!3e0?hl=en-US', target: '_blank', id: 'map-link'
      #map_canvas
