%section#ceremony
  %h1 Cerimônia

  %article#church
    %img{ src: 'http://1.bp.blogspot.com/-LsFNxjIkUAQ/UAir_sTxQWI/AAAAAAAAAPU/YFhbGGyi3AU/s1600/Nossa+senhora+do+carmo+santa+se+1.jpg', alt: 'Igreja de Nossa Senhora do Carmo' }

    %h2 Igreja de Nossa Senhora do Carmo
    %p
      %span Endereço:
      Rua Sete de Setembro, 14 - Centro, Rio de Janeiro
    %p
      %span Horário:
      17:30h

  %article#party
    %img{ src: 'http://buffetvilainglesa.com.br/site/wp-content/uploads/2013/06/Casa-de-Festas-Vila-Inglesa-Rio-de-Janeiro-rj-freguesia-888843.jpg', alt: 'Vila Inglesa' }

    %h2 Vila Inglesa
    %p
      %span Endereço:
      Estrada dos Três Rios, n° 2.134 - Freguesia - Jacarepaguá, Rio de Janeiro
    %p
      %span Horário:
      20:00h

  %article#map
    .search-box
      = text_field_tag :user_start_point, '', id: 'user-start-point', placeholder: 'Digite aqui seu endereço'
      = button_tag do
        %i.fa.fa-search

    .map-container
      = link_to '', 'https://www.google.com/maps/preview/dir/-22.8850746,-43.0319485/Estrada+Pacheco+de+Carvalho,+160+-+Maceio,+RJ,+Brazil/@-22.8851571,-43.0321866,18z/data=!4m11!4m10!1m0!1m5!1m1!1s0x998430a35fa771:0x23d12f9c2b4cf020!2m2!1d-43.0676197!2d-22.9102182!2m1!1b1!3e0?hl=en-US', target: '_blank', id: 'map-link'
      #map_canvas
