%section#couple
  .column
    %img{ src: 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/380870_1615833611473_1278695105_n.jpg', alt: 'Casal' }

  .spacer
  .column
    %h2 Sejam todos bem-vindos ao nosso site de casamento!
    %br

    %p Queridos familiares e amigos,
    %br
    %p Criamos este site especialmente para que vocês possam compartilhar conosco esse momento tão importante em nossas vidas. Através dele esperamos encurtar a distância daqueles que estão longe, estar mais próximo dos que moram perto e permitir que todos possam acompanhar de cada detalhe.
    %p O site irá trazer informações sobre a cerimônia, festa, dicas, horários, etc... Além das fotos, claro!
    %br
    %p E deixem uma mensagem... vamos adorar!
