%section#gifts
  %h1 Listas de Presentes

  %ul
    %li
      %a{ href: 'http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=359406', title: 'Ponto Frio', target: '_blank' }
        %img{ src: asset_path('pontofrio.png'), alt: 'Ponto Frio' }
    %li
      %a{ href: 'http://listadecasamento.fastshop.com.br/ListaCasamento/ListaCasamentoProdutos.aspx?ID=164494', title: 'Fast Shop', target: '_blank' }
        %img{ src: asset_path('fastshop.png'), alt: 'Fast Shop' }
    %li
      %a{ href: 'https://www.leader.com.br/list/brunaejoaopaulo', title: 'Leader', target: '_blank' }
        %img{ src: asset_path('leader.png'), alt: 'Leader' }
    %li
      %a{ href: 'https://www.tokstok.com.br/lic/convidados/listaPresentes.jsf?idLista=219070', title: 'Tok & Stok', target: '_blank' }
        %img{ src: asset_path('tokstok.gif'), alt: 'Tok & Stok' }
