%section#our_history
  %h1 Nossa História
  %h3 07 de Agosto de 2010

  .moments
    .moment.left
      %h3 Festa na casa dele
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1/267915_108721292557760_1818730_n.jpg', alt: 'Familia JUCA', title: 'Familia JUCA' }
      %p Eles se conheceram através do Encontro de Jovens com Cristo(EJC) da Paróquia Nossa Senhora de Fátima. Ela fez o EJC junto com a irmã dele em 2009 na família JUCA, participaram de uma festa Junina e outros eventos do EJC juntos, mas só foram se conhecer no dia 07 de Agosto de 2010, na festa de um ano da família JUCA, que foi na casa dele.

    .moment.right
      %h3 Primeiro Encontro
      %img{ src: 'http://2.bp.blogspot.com/_eyNV1xAbYMg/TQaFCAAboSI/AAAAAAAADF0/8QZ0zHtCodc/s1600/5x%2BFavela%2B-%2BLogo.jpg' }
      %p Depois de se conhecerem, passaram algumas semanas até que eles finalmente saíssem juntos pela primeira vez, o que só aconteceu no dia 29 de agosto, quando foram ao cinema assistir o filme 5x Favela

    .moment.left
      %h3 Enfim Namorados
      %img{ src: 'http://i42.tinypic.com/11vk1kz.png', alt: 'Namorados', title: 'Namorados' }

      %p No dia 20 de Setembro, ele finalmente pediu ela em namoro.

    .moment.right
      %h3 Viagens
      %img{ src: 'https://dl.dropbox.com/s/s5bs2dnjkty70ip/viagens.jpg', alt: 'Viagens', title: 'Viagens' }

      %p Começaram o ano de 2011 viajando pela Região dos Lagos, foram para Rio das Ostras, Arraial do Cabo e Búzios.

    .moment.left
      %h3 6 Meses de Namoro
      %img{ src: 'https://dl.dropbox.com/s/3r6lo7iut8xgrc8/seismeses.jpg', title: 'Esqui Aquático', alt: 'Esqui Aquático' }

      %p Para comemorar 6 meses de namoro, resolveram radicalizar um pouco e andar de esqui aquático. Resultado: muitos tombos, dores pelo corpo inteiro no dia seguinte e muita diversão.

    .moment.right
      %h3 Primeiro Dia dos Namorados
      %img{ src: 'https://dl.dropbox.com/s/ulialavwhrzaljq/namorados2011.jpg', title: 'Visconde de Mauá', alt: 'Visconde de Mauá' }

      %p No primeiro dia dos namorados juntos, resolveram comemorar viajando, e ele levou ela para conhecer um lugar chamado Visconde de Mauá, onde conheceram muitas cachoeiras, andaram muito, e sentiram muito frio a noite.

    / Maio 2011
    .moment.left
      %h3 Shows
      %img{ src: 'https://dl.dropbox.com/s/j6wizrbsvwpu73i/shows.jpg', alt: 'Shows', title: 'Shows' }

      %p Assistiram shows de Lulu Santos e Exaltasamba, além de terem feito seu próprio show, tendo uma carreira musical que durou uma única noite.

    / Jul 2011
    .moment.right
      %h3 Juntanto notebooks para construir a casa(ou seriam tijolos?)
      %img{ src: 'https://dl.dropbox.com/s/ijq9zenzljquh3q/tijolo.jpg', alt: 'Tijolo' }

      %p Em 2010, a submarino já previa que eles iriam se casar, e ao receberem um pedido de compra dela por um notebook, resolveram ajudar na construção da futura casa e mandaram não um, mas dois tijolos para ela no lugar do notebook!

    .moment.left
      %h3 Mais Viagens
      %img{ src: 'https://dl.dropbox.com/s/5gdz6unxo2fxuby/maisviagens.jpg', title: 'Cabo Frio, Aparecida e Canção Nova', alt: 'Cabo Frio, Aparecida e Canção Nova' }

      %p Antes de terminar o ano, eles ainda fizeram 2 viagens. Primeiro foram para Cabo Frio, onde fizeram até alguns mergulhos, e depois foram para Aparecida e Canção Nova, que é um dos lugares que eles mais gostaram de visitar.

    .moment.right
      %h3 Passeios com a sobrinha
      %img{ src: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/377389_1718412135872_258407585_n.jpg', title: 'Passeios com a sobrinha', alt: 'Passeios com a sobrinha' }
      / https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/377389_1718412135872_258407585_n.jpg
      / https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1/386278_1718415975968_868547817_n.jpg

      %p Em dezembro de 2011, eles levaram a sobrinha dela para passear numa visita ao Museu de Arte Contemporânea em Niterói.

    .moment.left
      %h3 Enfim Noivos
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1/s720x720/3897_2736625870579_1146520851_n.jpg', title: 'Usina de Itaipu', alt: 'Usina de Itaipu' }
      / https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1/s720x720/163316_2736625190562_667304759_n.jpg?lvh=1

      %p Depois de muita insistência, ele convenceu ela a passar o reveillon de 2012 viajando, e decidiram ir para Foz do Iguaçu. No primeiro dia em Foz, durante a visita a Usina de Itaipu, ele pediu ela em casamento.

    / Dez 2012
    .moment.right
      %h3 Cataratas do Iguaçu
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/421021_2750425695566_1877513064_n.jpg', title: 'Cataratas do Iguaçu', alt: 'Cataratas do Iguaçu' }
      / https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/312462_2750423895521_1423531403_n.jpg
      / https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/148992_2750425295556_783239233_n.jpg?lvh=1
      / https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/421021_2750425695566_1877513064_n.jpg

      %p Após o noivado em Foz do Iguaçu, eles foram ver de perto uma das 7 Maravilhas Naturais do Mundo, as Cataratas do Iguaçu.

    / Jul 2013
    .moment.left
      %h3 JMJ
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1/q71/s720x720/1003716_3394794284378_181387368_n.jpg', title: 'Papa', alt: 'Papa' }

      %p Na Jornada Mundial da Juventude, foram ver o Papa de perto na chegada dele a cidade do Rio de Janeiro, além de irem a Copacabana na missa de abertura e na via Sacra.

    / Set 2013
    .moment.right
      %h3 RockInRio
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t1/q71/s720x720/1209393_3570334432772_1307397855_n.jpg', title: 'Usina de Itaipu', alt: 'Usina de Itaipu' }
      / https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t1/q71/s720x720/1209393_3570334432772_1307397855_n.jpg
      / https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1/q71/s720x720/1185861_3583958133356_1222722645_n.jpg

      %p Em Setembro de 2013, foram ao RockInRio assistir Offspring, Nickelback, Matchbox 20 e Bon Jovi. Além dos shows, andaram na roda gigante, passearam pela Rock Street, cantaram no stand da Coca-Cola, ...


  .hearts
    / %i.heart.fa.fa-heart
    / %i.heart.fa.fa-heart
    / %i.heart.fa.fa-heart
    %img{ src: asset_path('rings.png') }
