%section#our_history
  %h1 Nossa História
  %h3 07 de Agosto de 2010

  .moments
    .moment.left
      %h3 Festa na casa dele
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1/267915_108721292557760_1818730_n.jpg', alt: 'Familia JUCA', title: 'Familia JUCA' }
      %p Eles se conheceram através do Encontro de Jovens com Cristo(EJC) da Paróquia Nossa Senhora de Fátima. Ela fez o EJC junto com a irmã dele em 2009 na família JUCA, participaram de uma festa Junina e outros eventos do EJC juntos, mas só foram se conhecer no dia 07 de Agosto de 2010, na festa de um ano da família JUCA, que foi na casa dele.

    .moment.right
      %h3 Primeiro Encontro
      %img{ src: 'http://2.bp.blogspot.com/_eyNV1xAbYMg/TQaFCAAboSI/AAAAAAAADF0/8QZ0zHtCodc/s1600/5x%2BFavela%2B-%2BLogo.jpg' }
      %p Depois de se conhecerem, passaram algumas semanas até que eles finalmente saíssem juntos pela primeira vez, o que só aconteceu no dia 29 de agosto, quando foram ao cinema assistir o filme 5x Favela

    .moment.left
      %h3 Enfim Namorados
      %img{ src: 'http://i42.tinypic.com/11vk1kz.png', alt: 'Namorados', title: 'Namorados' }

      %p No dia 20 de Setembro, ele finalmente pediu ela em namoro.

    / Jan 2011
    .moment.right
      %h3 Primeira Viagem
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/t1/167592_1280950959616_6092727_n.jpg', alt: 'Rio das Ostras', title: 'Rio das Ostras' }

      %p Em Janeiro de 2011, viajaram juntos pela primeira vez, junto com a família dela, para ir a um aniversário de um ano de uma prima dela que mora em Rio das Ostras.

    / Fev 2011
    .moment.left
      %h3 Carnaval 2011
      %img{ src: 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1/188734_1320383745411_7768413_n.jpg', title: 'Búzios', alt: 'Búzios' }
      / https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1/200304_1319743409403_887636_n.jpg

      %p Aproveitaram o carnaval para viajar novamente em 2011, mas dessa vez para um lugar que até então nenhum dos dois conhecia: Búzios.

    / Março 2011
    .moment.right
      %h3 6 Meses de Namoro
      %img{ src: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/200224_1329408491024_2559188_n.jpg', title: 'Esqui Aquático', alt: 'Esqui Aquático' }
      / https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1/188422_1329411811107_7700837_n.jpg

      %p Para comemorar 6 meses de namoro, resolveram radicalizar um pouco e andar de esqui aquático. Resultado: muitos tombos, dores pelo corpo inteiro no dia seguinte e muita diversão.

    / Maio 2011
    .moment.left
      %h3 Show do Lulu Santos
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1/229347_1369885142915_4900471_n.jpg', alt: 'Show Lulu Santos', title: 'Show Lulu Santos' }

    .moment.right
      %h3 Primeiro Dia dos Namorados
      %img{ src: 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc1/t1/251722_1414309853505_6019132_n.jpg', title: 'Visconde de Mauá', alt: 'Visconde de Mauá' }

      %p No primeiro dia dos namorados juntos, resolveram comemorar viajando, e ele levou ela para conhecer um lugar chamado Visconde de Mauá, onde conheceram muitas cachoeiras, andaram muito, e sentiram muito frio a noite.

    / Jul 2011
    .moment.left
      %h3 Cantores de Sucesso
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/284158_1462175290111_1247395_n.jpg', title: 'Píer 31', alt: 'Píer 31' }

      %p Tentaram fazer sucesso como dupla sertaneja, mas no primeiro show deles perceberam que não conseguiriam ter muito sucesso e desistiram da idéia.

    / Jul 2011
    .moment.right
      %h3 Juntanto notebooks para construir a casa(ou seriam tijolos?)
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/270264_1454234291591_2333818_n.jpg', title: 'Tijolo', alt: 'Tijolo' }

      %p Em 2010, a submarino já previa que eles iriam se casar, e ao receberem um pedido de compra dela por um notebook, resolveram ajudar na construção da futura casa e mandaram não um, mas dois tijolos para ela no lugar do notebook!

    / Out 2011
    .moment.left
      %h3 Cabo Frio
      %img{ src: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/t1/298727_1615687327816_111359324_n.jpg', title: 'Cabo Frio', alt: 'Cabo Frio' }
      / https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/391773_1615880532646_1751411903_n.jpg
      / https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/t1/317883_1615912813453_626615813_n.jpg
      / https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1/381169_1615916413543_251123473_n.jpg
      / https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1/313398_1615917733576_720719588_n.jpg

      %p Eles já tinham ido a Barra de São João, Rio das Ostras, Búzios e Arraial do Cabo quando em Outubro de 2011, a convite de um amigo dele, resolveram passar um final de semana em Cabo Frio, com direito até a alguns mergulhos!

    / Nov 2011
    .moment.right
      %h3 Parque da Cidade - Niterói
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/385342_1661715278486_1838832686_n.jpg', title: 'Parque da Cidade', alt: 'Parque da Cidade' }

      %p Em Novembro de 2011 ele finalmente reuniu coragem suficiente para saltar de parapente, usando um cupom que ele tinha comprado em um sites de compras de coletiva no início de 2011, e ela acompanhou ele até o Parque da Cidade para assistir seu salto.

    / Nov 2011
    .moment.left
      %h3 Aparecida e Canção Nova - SP
      %img{ src: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc1/t1/378826_1661873242435_2006385720_n.jpg', title: 'Aparecida', alt: 'Aparecida' }
      / https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/312147_1661881882651_976007336_n.jpg

      %p Um dos lugares que eles mais gostaram de visitar foi a cidade de Aparecida, onde estiveram pela primeira vez juntos em Novembro de 2011.

    / Dez 2011
    .moment.right
      %h3 Museu de Arte Contemporânea(MAC) - Niterói
      %img{ src: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/377389_1718412135872_258407585_n.jpg', title: 'MAC', alt: 'MAC' }
      / https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/377389_1718412135872_258407585_n.jpg
      / https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1/386278_1718415975968_868547817_n.jpg

      %p Em dezembro de 2011, eles levaram a sobrinha dela para passear numa visita ao Museu de Arte Contemporânea em Niterói.

    / Dez 2011
    .moment.left
      %h3 Exaltasamba
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/t1/s720x720/407759_1748324163654_39773333_n.jpg', title: 'Exaltasamba', alt: 'Exaltasamba' }

      %p Para terminar o ano de 2011 com chave de ouro, eles foram ao show de despedida do Exaltasamba em Niterói, em um evento que ainda contou com shows do Bloco do Vigário e do cantor sertanejo João Gabriel.

    / Fev 2012
    .moment.right
      %h3 Carnaval 2012
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/403081_1948741693967_736812877_n.jpg', title: 'Chaves e Chiquinha', alt: 'Chaves e Chiquinha' }
      / https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/399850_1941944964053_1442370688_n.jpg

      %p Em 2012 eles resolveram passar o carnaval no Rio de Janeiro mesmo, onde foram a alguns blocos, a praia, e ainda tiveram um baile de carnaval na comemoração de aniversário do pai dele.

    / / Maio 2012
    / .moment.right
    /   %h3 Formatura dele
    /   %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/t1/s720x720/562436_2191540443784_1158688333_n.jpg', alt: 'Formatura dele', title: 'Formatura dele' }
    /   / https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1/s720x720/553370_2191543003848_196195685_n.jpg

    /   %p Em maio de 2012 ele se forma em Ciência da Computação

    / Dez 2012
    .moment.left
      %h3 Enfim Noivos
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1/s720x720/3897_2736625870579_1146520851_n.jpg', title: 'Usina de Itaipu', alt: 'Usina de Itaipu' }
      / https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1/s720x720/163316_2736625190562_667304759_n.jpg?lvh=1

      %p Depois de muita insistência, ele convenceu ela a passar o reveillon de 2012 viajando, e decidiram ir para Foz do Iguaçu. No primeiro dia em Foz, durante a visita a Usina de Itaipu, ele pediu ela em casamento.

    / Dez 2012
    .moment.right
      %h3 Cataratas do Iguaçu
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/421021_2750425695566_1877513064_n.jpg', title: 'Cataratas do Iguaçu', alt: 'Cataratas do Iguaçu' }
      / https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/312462_2750423895521_1423531403_n.jpg
      / https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/148992_2750425295556_783239233_n.jpg?lvh=1
      / https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/s720x720/421021_2750425695566_1877513064_n.jpg

      %p Após o noivado em Foz do Iguaçu, eles foram ver de perto uma das 7 Maravilhas Naturais do Mundo, as Cataratas do Iguaçu e passaram o Reveillon na Churrascaria Raffain, com direito a show LatinoAmericano

    / Jul 2013
    .moment.left
      %h3 JMJ
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1/q71/s720x720/1003716_3394794284378_181387368_n.jpg', title: 'Papa', alt: 'Papa' }

      %p Na Jornada Mundial da Juventude, foram ver o Papa de perto na chegada dele a cidade do Rio de Janeiro, além de irem a Copacabana na missa de abertura e na via Sacra.

    / Set 2013
    .moment.right
      %h3 RockInRio
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t1/q71/s720x720/1209393_3570334432772_1307397855_n.jpg', title: 'Usina de Itaipu', alt: 'Usina de Itaipu' }
      / https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t1/q71/s720x720/1209393_3570334432772_1307397855_n.jpg
      / https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1/q71/s720x720/1185861_3583958133356_1222722645_n.jpg

      %p Em Setembro de 2013, foram ao RockInRio assistir Offspring, Nickelback, Matchbox 20 e Bon Jovi. Além dos shows, andaram na roda gigante, passearam pela Rock Street, cantaram no stand da Coca-Cola, ...


  .hearts
    / %i.heart.fa.fa-heart
    / %i.heart.fa.fa-heart
    / %i.heart.fa.fa-heart
    %img{ src: asset_path('rings.png') }
