%section#our_history
  %h1 Nossa História
  %h3 Julho de 2010

  .moments
    .moment.left
      %h3 Primeiro Aniversário de Amigos
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn1/t1/62919_1400668703936_7124741_n.jpg', alt: 'Hard Rock', title: 'Hard Rock' }
      %p Na Hard Rock Café, comemorando o aniversário da amiga Luana. Nessa época ainda não namorávamos, pois o Bruno me enrolava!

    .moment.right
      %h3 03 de Setembro de 2010
      %img{ src: 'https://scontent-b-gru.xx.fbcdn.net/hphotos-frc3/t1/162821_1537418722601_6141132_n.jpg?lvh=1', alt: 'Oliva', title: 'Oliva' }
      %p 2 meses se passaram e, enfim, estamos namorando!

    .moment.left
      %h3 Primeiro Reveillon
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/165534_1537419002608_6815563_n.jpg?lvh=1', alt: 'Reveillon na Barra da Tijuca', title: 'Reveillon na Barra da Tijuca' }
      %p Novamente entre amigos, comemorando a chegada de 2011.

    .moment.right
      %h3 Primeira Viagem à Portugal
      %img{ src: 'https://scontent-a-gru.xx.fbcdn.net/hphotos-ash2/t1/196027_1622733655421_1971017_n.jpg', alt: 'Porto', title: 'Porto' }
      %p Na cidade do Porto, visitando o Estádio dos Dragões, conhecendo o Rio D'ouro e suas caves, andando de Comboio e comendo da melhor culinária (que é a portuguesa com certeza)! E, é claro, apresentando os "portuga da minha família".

    .moment.left
      %h3 Lisboa
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/190524_1622699734573_1741283_n.jpg', alt: 'Lisboa', title: 'Lisboa' }
        %p Em Lisboa, curtimos o Oceanário, conhecemos a Torre de Belém, o Mosteiro dos Jerônimos e, comemos muito Pastel de Belém!

    .moment.right
      %h3 6 Meses de Namoro
      %img{ src: 'https://scontent-a-gru.xx.fbcdn.net/hphotos-frc1/t1/189695_1622653933428_8231657_n.jpg', alt: 'Paris', title: 'Paris' }
      %p Numa das cidades mais românticas do mundo, Paris, comemoramos seis meses de namoro, conhecendo a Torre Eiffel, andando pela Champs-Élysées, visitando a Catedral de Notre Dame e passeando de barco pelo Rio Sena e pelos lindos jardins de Luxemburgo.

    .moment.left
      %h3 1 Ano de Namoro
      %img{ src: 'https://scontent-b-gru.xx.fbcdn.net/hphotos-prn1/t1/297223_1980338675323_850610_n.jpg', alt: 'Museu de Arte Contemporânea', title: 'Museu de Arte Contemporânea' }
      %p No MAC (Museu de Arte Contemporânea), em Niterói, fui surpreendida com um lindo jantar e uma vista maravilhosa da Baia da Guanabara ao comemorar um ano de namoro.

    .moment.right
      %h3 Formatura
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/378599_2358756815540_1592480973_n.jpg', alt: 'Formatura', title: 'Formatura' }
      %p A formatura de Medicina, esperada ao longo de seis anos, foi comemorada com muita curtição.

    .moment.left
      %h3 2 Anos de Namoro
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1/556222_3308581040552_681601441_n.jpg', alt: 'Imagem Teste', title: 'Fondue' }
      %p Esse foi um ano difícil, tivemos que lidar com a distância. Meu amor em Porto Alegre e eu no Rio de Janeiro.

    .moment.right
      %h3 Canela
      %img{ src: 'https://scontent-a-gru.xx.fbcdn.net/hphotos-ash2/t1/408347_4224614620819_1892784770_n.jpg', alt: 'Canela', title: 'Canela' }
      %p Porém, nos permitiu conhecer lugares lindíssimos como Canela e Gramado. Visitamos na Páscoa e no Natal, além de outras inúmeras vezes com familiares ou mesmo por gostar da cidade.

    .moment.left
      %h3 Carnaval em Búzios 2013
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1/36637_4427190285084_2069846022_n.jpg?lvh=1k', alt: 'Búzios', title: 'Búzios' }
      %p Esse ano, meu amor voltou para o Rio e eu começava meu segundo ano de residência médica em Oftalmologia. Curtimos o carnaval em Búzios e o meu amor resolveu fazer uma surpresa.

    .moment.right
      %h3 Pedido de Casamento
      %img{ src: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/t1/16328_4385750129106_1797195334_n.jpg', alt: 'Pedido de Casamento', title: 'Pedido de Casamento' }
      %p O pedido de casamento. Foi muito lindo e divertido... Afinal, todos já sabem que a minha curiosidade estragou a surpresa... rsrs

    .moment.left
      %h3 Festa de Noivado
      %img{ src: 'https://scontent-a-gru.xx.fbcdn.net/hphotos-ash2/t1/574754_4515762419332_295042775_n.jpg', alt: 'Noivado', title: 'Noivado' }
      %p Resolvemos então comemorar o pedido de casamento em família com uma festa de noivado.

    .moment.right
      %h3 Aniversário de 26 anos
      %img{ src: 'https://scontent-b-gru.xx.fbcdn.net/hphotos-frc3/t1/995912_10200185999759899_1822101170_n.jpg', alt: 'Aniversário', title: 'Aniversário' }
      %p Primeiro aniversário noiva da pessoa mais especial que eu conheço. Essa foi uma festa cujo tema era Arraiá da Noivinha.

    .moment.left
      %h3 3 Anos de Namoro
      %img{ src: 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1/1240505_10200624424040232_1811968133_n.jpg', alt: 'Nova Iorque', title: 'Nova Iorque' }
      %p Nossa viagem aos EUA, comemorando 3 anos de namoro em Nova Iorque. Foi maravilhoso conhecer a cidade e fazer comprinhas.

    .moment.right
      %h3 Disney
      %img{ src: 'https://dl.dropboxusercontent.com/s/gyyaqwy7jowxe9r/DSC_0763.JPG', alt: 'Disney', title: 'Disney' }
      %p Enfim, Disney. Foi mágico o espetáculo do castelo no Magic Kingdom e nos divertimos em todos os outros parques, principalmente os da Universal. Cada montanha russa que eu encarei facilmente, mas que meu amor não voltaria. Simuladores então... rsrs

  .hearts
    %i.heart.fa.fa-heart
    %i.heart.fa.fa-heart
    %i.heart.fa.fa-heart
