%section#gallery
  %h1 Nossas Fotos

  #thumbs
    / rio das ostras
    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/169005_1280950519605_2250785_n.jpg', title: 'Rio das Ostras', data: { gallery: 'rio-das-ostras' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/169005_1280950519605_2250785_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/167592_1280950959616_6092727_n.jpg', title: 'Rio das Ostras', data: { gallery: 'rio-das-ostras' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/167592_1280950959616_6092727_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/195879_1336130059059_1990409_n.jpg', title: 'Costa Azul', data: { gallery: 'rio-das-ostras' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/195879_1336130059059_1990409_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/199657_1336130699075_3802846_n.jpg', title: 'Viajando', data: { gallery: 'rio-das-ostras' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/199657_1336130699075_3802846_n.jpg' }

    / niteroi
    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/181599_1307252577140_5594621_n.jpg', title: 'Piratininga', data: { gallery: 'niteroi' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/181599_1307252577140_5594621_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/200224_1329408491024_2559188_n.jpg', title: 'Esqui Aquático', data: { gallery: 'niteroi' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/200224_1329408491024_2559188_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/199820_1329407450998_1187058_n.jpg', title: 'Esqui Aquático', data: { gallery: 'niteroi' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/199820_1329407450998_1187058_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/188458_1329408891034_7708823_n.jpg', title: 'Esqui Aquático', data: { gallery: 'niteroi' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/188458_1329408891034_7708823_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/197144_1329409811057_5370971_n.jpg', title: 'Esqui Aquático', data: { gallery: 'niteroi' } }
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/197144_1329409811057_5370971_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/190190_1329410851083_7147752_n.jpg', title: 'Esqui Aquático', data: { gallery: 'niteroi' } }
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/190190_1329410851083_7147752_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/p180x540/319222_1661707078281_387066166_n.jpg', title: 'Parque da Cidade', data: { gallery: 'niteroi' } }
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/p180x540/319222_1661707078281_387066166_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/s720x720/393263_1661735638995_2002156635_n.jpg', title: 'Parque da Cidade', data: { gallery: 'niteroi' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/s720x720/393263_1661735638995_2002156635_n.jpg' }

    / festas
    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/200272_1336129539046_1574603_n.jpg', title: 'Festas', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/200272_1336129539046_1574603_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/190314_1336130899080_2132540_n.jpg', title: 'Festas', data: { gallery: 'festas' } }
      %img{ src: 'https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/190314_1336130899080_2132540_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/190198_1336129859054_1072041_n.jpg', title: 'Festas', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/190198_1336129859054_1072041_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/196293_1336129659049_6518291_n.jpg', title: 'Arraial do Cabo', data: { gallery: 'arraial' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/196293_1336129659049_6518291_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/222807_1369881262818_7697407_n.jpg', title: 'Lulu Santos', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/222807_1369881262818_7697407_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/225687_1369883262868_2559503_n.jpg', title: 'Lulu Santos', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash3/t1.0-9/225687_1369883262868_2559503_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/229347_1369885142915_4900471_n.jpg', title: 'Lulu Santos', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/229347_1369885142915_4900471_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/284158_1462175290111_1247395_n.jpg', title: 'Pier 31', data: { gallery: 'festas' } }
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/284158_1462175290111_1247395_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/268604_1462177810174_2902600_n.jpg', title: 'Pier 31', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/268604_1462177810174_2902600_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/226334_1370116788706_2228222_n.jpg', title: 'Lulu Santos', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/226334_1370116788706_2228222_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/p180x540/393801_1748318363509_1478765200_n.jpg', title: 'Exaltasamba', data: { gallery: 'festas' } }
      %img{ src: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/p180x540/393801_1748318363509_1478765200_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/p180x540/407759_1748324163654_39773333_n.jpg', title: 'Exaltasamba', data: { gallery: 'festas' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/p180x540/407759_1748324163654_39773333_n.jpg' }

    / buzios
    %a{ href: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/199351_1319740049319_6468534_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/199351_1319740049319_6468534_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/190771_1320655792212_6367111_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/190771_1320655792212_6367111_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/189656_1319742089370_7773985_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/189656_1319742089370_7773985_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/199992_1319743609408_4950965_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/199992_1319743609408_4950965_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-ash4/t1.0-9/200068_1320374625183_2474129_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-ash4/t1.0-9/200068_1320374625183_2474129_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/196404_1320383505405_320162_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/196404_1320383505405_320162_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/t1.0-9/199598_1320655992217_1123626_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/t1.0-9/199598_1320655992217_1123626_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/189529_1321293848163_502693_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/189529_1321293848163_502693_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/184393_1321297888264_1253031_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/184393_1321297888264_1253031_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/190580_1321303448403_3557418_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/190580_1321303448403_3557418_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/188821_1319741769362_2997173_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/188821_1319741769362_2997173_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/189501_1321306528480_4196495_n.jpg', title: 'Buzios - Carnaval 2011', data: { gallery: 'buzios' } }
      %img{ src: 'https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/189501_1321306528480_4196495_n.jpg' }

    / kart
    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/221698_1368899078264_913258_n.jpg', title: 'Kasrt', data: { gallery: 'kart' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/221698_1368899078264_913258_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/230116_1368903238368_5429460_n.jpg', title: 'Kart', data: { gallery: 'kart' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/230116_1368903238368_5429460_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/230600_1368903678379_708073_n.jpg', title: 'Kart', data: { gallery: 'kart' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/230600_1368903678379_708073_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/t1.0-9/224050_1368904038388_7857970_n.jpg', title: 'Kart', data: { gallery: 'kart' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/t1.0-9/224050_1368904038388_7857970_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/223430_1368904278394_4663008_n.jpg', title: 'Kart', data: { gallery: 'kart' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/223430_1368904278394_4663008_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/229580_1368905118415_3814464_n.jpg', title: 'Kart', data: { gallery: 'kart' } }
      %img{ src: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/229580_1368905118415_3814464_n.jpg' }

    / visconde de maua
    %a{ href: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/260050_1414297013184_1129338_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/260050_1414297013184_1129338_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/251722_1414309853505_6019132_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc1/t1.0-9/251722_1414309853505_6019132_n.jpg' }

    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/248312_1414311693551_1079090_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/248312_1414311693551_1079090_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/249847_1414314773628_3602773_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/249847_1414314773628_3602773_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/259812_1414322813829_8203268_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-prn2/t1.0-9/259812_1414322813829_8203268_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/260137_1414331614049_4526590_n.jpg', title: 'Visconde de Mauá', data: { gallery: 'namorados' } }
      %img{ src: 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/260137_1414331614049_4526590_n.jpg' }

    / rio de janeiro
    %a{ href: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/268604_1462177810174_2902600_n.jpg', title: 'Trilha da Urca', data: { gallery: 'rio-de-janeiro' } }
      %img{ src: 'https://scontent-a-mia.xx.fbcdn.net/hphotos-ash2/t1.0-9/268604_1462177810174_2902600_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/264920_1460496528143_757890_n.jpg', title: 'Trilha da Urca', data: { gallery: 'rio-de-janeiro' } }
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/264920_1460496528143_757890_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/262025_1460499608220_5661943_n.jpg', title: 'Trilha da Urca', data: { gallery: 'rio-de-janeiro' } }
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/262025_1460499608220_5661943_n.jpg' }

    %a{ href: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/282004_1460502448291_2991448_n.jpg', title: 'Trilha da Urca', data: { gallery: 'rio-de-janeiro' } }
      %img{ src: 'https://scontent-b-mia.xx.fbcdn.net/hphotos-frc3/t1.0-9/282004_1460502448291_2991448_n.jpg' }

    %a{ href: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/270531_1460503968329_1727992_n.jpg', title: 'Trilha da Urca', data: { gallery: 'rio-de-janeiro' } }
      %img{ src: 'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/270531_1460503968329_1727992_n.jpg' }

    / copy

    / %a{ href: '', title: '', data: { gallery: '' } }
    /   %img{ src: '' }
