%article
  %h3= post.title

  .content.collapsed
    = simple_format(truncate(post.content, length: 350) { link_to 'Ler mais', '#', class: 'read-more' })
  .content.expanded
    %span= simple_format post.content

  .date= l Date.today, format: :small
