%section#ceremony
  .title Cerimônia

  %img{ src: 'http://1.bp.blogspot.com/-LsFNxjIkUAQ/UAir_sTxQWI/AAAAAAAAAPU/YFhbGGyi3AU/s1600/Nossa+senhora+do+carmo+santa+se+1.jpg', alt: 'Igreja de Nossa Senhora do Carmo' }

  %h2 Igreja de Nossa Senhora do Carmo
  %p A Igreja de Nossa Senhora do Carmo (Antiga Sé) é uma igreja católica localizada na Rua 1º de Março, no Centro da cidade do Rio de Janeiro, no Brasil. Foi a sede episcopal da diocese até 1976, quando foi concluída a nova Catedral de São Sebastião do Rio de Janeiro, razão pela qual também é referida como Antiga Sé.
  %p A igreja localiza-se em frente à histórica Praça 15 de Novembro, ao lado dos edifícios coloniais do antigo Convento do Carmo e da Igreja da Ordem Terceira do Carmo.

  %img{ src: 'http://buffetvilainglesa.com.br/site/wp-content/uploads/2013/06/Casa-de-Festas-Vila-Inglesa-Rio-de-Janeiro-rj-freguesia-888843.jpg', alt: 'Vila Inglesa' }

  %h2 Vila Inglesa
  %p A Vila Inglesa Casa de Festas, conhecida há mais de vinte anos por seu padrão de qualidade, conseguiu aliar conforto, sofisticação e segurança em um novo, moderno e elegante espaço. Por ser um ambiente único e destinado a clientes exigentes, comprova que bom gosto, qualidade e requinte são ingredientes indispensáveis para a realização de inesquecíveis eventos.

%section#our_wedding
  .title Nosso Casamento

  - @posts.each do |post|
    = render partial: 'home/post', locals: { post: post }

