#ceremony {
  article {
    @include span-columns(5);

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  @include media($mobile) {
    article + article {
      padding-top: 3 * flex-gutter()
    }
  }

  article#party {
    @include omega();
  }

  article#church, article#party {
    img {
      display: block;
      margin: auto auto;

      border: 1em solid $white;
      box-shadow: 0 0 10px $black;

      height: 90%;
      width: 90%;
      max-height: 300px;
    }

    p {
      font-size: 1.8em;
      line-height: 1.4em;
      margin: 0;

      &:first-letter {
        margin-left: 4%;
      }

      span {
        font-weight: bold;
      }
    }
  }

  article#map {
    position: relative;
    @include span-columns(10);

    #user-start-point {
      border: none;
      font-size: 2em;
      left: 5em;
      line-height: 1.5em;
      padding: .1em .5em;
      position: absolute;
      top: 1.8em;
      width: 16em;
      z-index: 100;

      @include media($tablet) {
        display: none;
      }
    }

    .map-container {
      height: 450px;


      @include media($tablet) {
        height: 300px;
      }

      #map_canvas {
        border: 1em solid $white;
        box-shadow: 0 0 10px $black;
        height: 100%;
        width: 100%;

        @include media($tablet) {
          margin: 0 auto;
          width: 90%;
        }
      }

      a#map-link {
        display: none;

        @include media($tablet) {
          display: block;
          height: 300px;
          left: 5%;
          position: absolute;
          width: 90%;
          z-index: 100;
        }
      }
    }
  }
}

