#ceremony {
  article {
    @include span-columns(5);

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  @include media($mobile) {
    article + article {
      padding-top: 3 * flex-gutter()
    }
  }

  article#party {
    @include omega();
  }

  article#church, article#party {
    img {
      display: block;
      margin: auto auto;

      border: 1em solid $white;
      box-shadow: 0 0 10px $black;

      height: 90%;
      width: 90%;
      max-height: 300px;
    }

    p {
      font-size: 1.8em;
      line-height: 1.4em;
      margin: 0;

      span {
        font-weight: bold;
      }
    }
  }

  article#map {
    @include span-columns(10);
    margin-top: 3em;
    position: relative;

    .search-box {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 10em;
      top: 4em;
      z-index: 100;

      @include media($tablet) {
        display: none;
      }

      button {
        background-color: darken($blue-light, 10%);
        @include background-image(linear-gradient(top, darken($blue-light, 20%), darken($blue-light, 10%)));

        border: 0;
        border-radius: 0 2px 2px 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        outline: none;

        color: white;
        font-size: 1.4em;

        height: calc(2em + 2px);
        width: 5em;

        position: absolute;
        top: 0;
        left: calc(17em + 2px);
        z-index: -1;
      }

      #user-start-point {
        border: 1px solid transparent;
        border-right: 0;
        border-radius: 2px 0 0 2px;
        padding: .4em .4em .1em;
        height: 2em;
        width: 16em;

        font-family: 'Josefin Sans';
        font-size: 1.5em;
        line-height: 1.5em;

        &:focus {
          border: 1px solid $blue-light;
          outline: none;
        }
      }
    }

    .map-container {
      height: 450px;

      @include media($tablet) {
        height: 300px;
      }

      #map_canvas {
        border: 1em solid $white;
        box-shadow: 0 0 10px $black;
        height: 100%;
        width: 100%;

        @include media($tablet) {
          margin: 0 auto;
          width: 90%;
        }
      }

      a#map-link {
        display: none;

        @include media($tablet) {
          display: block;
          height: 300px;
          left: 5%;
          position: absolute;
          width: 90%;
          z-index: 100;
        }
      }
    }
  }
}

