#ceremony {
  img {
    display: block;
    margin: auto auto;

    border: 1em solid $white;
    box-shadow: 0 0 10px $black;

    height: auto;
    width: auto;
    max-height: 300px;

    @include media($mobile) {
      max-width: 290px;
    }
  }

  h2 {
    font-size: 2em;
    margin-top: 6%;
    margin-bottom: 4%;
    text-align: center;
  }

  p {
    font-size: 1.8em;
    line-height: 1.4em;

    &:first-letter {
      margin-left: 4%;
    }
  }

  article + article {
    margin-top: 8%;
  }
}
