#couple {
  @include media($computer) {
    display: table;

    .column {
      display: table-cell;
      width: flex-grid(5);
    }

    .column:first-child {
      vertical-align: middle;
    }

    .spacer {
      display: table-cell;
      width: flex-gutter();
    }
  }

  p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0;

    &:first-letter {
      margin-left: 4%;
    }
  }

  img {
    display: block;
    margin: auto auto;

    max-height: 100%;
    max-width: 100%;

    border: 1em solid $white;
    box-shadow: 0 0 10px $black;

    @include media($tablet) {
      max-height: 90%;
      max-width: 90%;
    }
  }
}
