body {
  margin: 5%;
  padding: 0;

  font-family: 'Josefin Sans';
  font-size: 62.5%;

  > article {
    @include outer-container;

    > section > .title {
      font-family: Sacramento;
      font-size: 4.9em;
      text-align: center;

      @include media($computer) {
        margin: 10% 0 3%;
      }

      @include media($mobile) {
        margin: 15% 0 0;
      }
    }
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $pink;
  }
}

footer {
  padding: 50px;
}
