body {
  margin: 5%;
  padding: 0;

  font-family: 'Josefin Sans';
  font-size: 62.5%;

  > article {
    @include outer-container;

    > section {
      @include media($computer) {
        margin: 10% 0 3%;
      }

      @include media($tablet) {
        margin: 15% 0 0;
      }

      > .title {
        font-family: Sacramento;
        font-size: 4.9em;
        text-align: center;
      }
    }

    //This reverts the code above for the first section
    > section:first-child {
      @include media($computer) {
        margin: 0;
      }

      @include media($tablet) {
        margin: 0;
      }
    }
  }
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $pink;
  }
}

footer {
  padding: 50px;
}
