$time: 0.5s;

body > nav {
  z-index: 1000;

  ul {
    margin: 0;
    padding: 0;
  }
}

//This gives the body the menu margin
body > nav + article {
  @include media($computer) {
    margin-top: 50px;
  }

  @include media($tablet) {
    margin-top: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 920px) {
  .logo {
    padding: 0 1em!important;
  }

  li {
    padding: 2em 0.5em!important;
    font-size: 0.9em!important;
  }

  body > nav + article {
    margin-top: 60px!important;
  }
}

@include media($computer) {
  body > nav {
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.1);
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .logo {
      display: inline-block;
      padding: 0 4em;

      .name {
        font-size: 3em;
        font-family: Sacramento;

        .heart {
          color: $pink;
        }
      }

      .date {
        color: $gray;
        font-size: 1.6em;
      }
    }

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 2em 1em;
      vertical-align: top;

      a {
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  #mobile-top-menu {
    display: none;
  }
}

@include media($tablet) {
  /* Side menu style */
  body > nav {
    background-color: lighten($pink, 10%);

    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 9999;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .logo {
      text-align: center;
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;

      .name {
        font-size: 3em;
        font-family: Sacramento;
        text-align: center;
        padding: 5px 0;

        .heart {
          color: $pink;
        }
      }

      .date {
        color: $gray;
        font-size: 1.6em;
      }
    }

    li {
      border-top: 1px dashed $black;

      &:first-child {
        margin-top: 90px;
      }

      a {
        @include transition(all $time ease);
        display: block;
        font-size: 1.5em;
        padding: 15px;

        &:hover {
          background-color: darken($pink, 10%);
          color: $black;
        }
      }
    }
  }

  /* Active slide out navigation */
  #nav-handler ~ nav {
    @include transform(translate3D(-100%, 0, 0));

    transition: -moz-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
  }

  #nav-handler:checked ~ nav {
    @include transform(translate3D(0, 0, 0));
  }

  /* Hide nav handler checkbox */
  #nav-handler {
    display: none;
  }

  /* Top mobile menu style */
  #mobile-top-menu {
    background-color: lighten($pink, 10%);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 2;

    .name {
      font-size: 3em;
      font-family: Sacramento;
      text-align: center;
      padding: 5px 0;

      .heart {
        color: $pink;
        font-size: 0.8em;
      }
    }
  }

  /* Header menu button */
  #menu-button {
    background: $black;
    box-shadow: 0 0.25em 0 0 $black, 0 0.5em 0 0 $black;
    font-size: 2em;
    text-indent: -9999px;

    content: '';
    position: absolute;
    right: 15px;
    top: 20px;
    width: 1em;
    height: 0.15em;

    &:before {
      content: '';
      display: block;

      position: absolute;
      right: -15px;
      top: -20px;
      padding: 30px;
    }
  }

  /* Slide out navigation list items */
  body > article {
    @include transform(translate3D(0, 0, 0));

    transition: -moz-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;

    padding: 45px 0 0 0; /* Top padding must be same as header height */
    -webkit-overflow-scrolling: touch;
  }

  /* Translate main container when nav handler is checked */
  #nav-handler:checked ~ article {
    @include transform(translate3D(85%, 0, 0));
  }
}
