#our_wedding {
  clear: both;

  article {
    .date {
      color: $blue-light;
      font-size: 1.2em;
      text-transform: uppercase;
      text-align: right;
    }

    .content {
      font-size: 1.8em;
      line-height: 1.4em;
      margin-bottom: 2%;

      p {
        text-align: left;
      }

      p:first-letter {
        margin-left: 4%;
      }

      p:first-child:first-letter {
        font-family: Sacramento;
        font-size: 2.5em;
      }

      a.read-more {
        color: $gray;
        font-size: 0.9em;
        margin-left: 1%;
        text-decoration: underline;

        &:hover {
          color: $blue-light;
        }
      }

      &.expanded {
        display: none;
      }
    }
  }

  article + article {
    h3 {
      &:before {
        border-top: 1px dashed $blue-light;
        content: '';
        display: block;
        margin: 5% 5% 7%;
      }
    }
  }
}

.fb-comments {
  margin-top: 7%;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}
