#our_history {
  h3 {
    color: $pink;
    font-size: 3em;
    text-align: center;
  }

  .moment {
    @include span-columns(5);
    @include omega;

    padding-top: flex-gutter();
    position: relative;

    @include media($mobile) {
      @include span-columns(4);
    }

    .title {
      color: $pink;
      font-size: 2em;
      margin-bottom: .5em;
      position: relative;
    }

    img {
      border: 10px solid $white;
      box-shadow: 0 0 10px $black;
      margin: 10px 0;
      width: 100%;
    }

    p {
      font-size: 1.8em;
      line-height: 1.4em;
    }

    p:first-child:first-letter {
      font-family: Sacramento;
      font-size: 2.5em;
      margin-left: 0.5em;
    }
  }

  .moment.left {
    border-right: 1px solid $pink;
    padding-right: flex-gutter();
    text-align: right;

    @include media($mobile) {
      border-left: 1px solid $pink;
      border-right: none;
      padding-left: 2 * flex-gutter();
      padding-right: 0;
      text-align: left;
    }
  }

  .moment.right {
    border-left: 1px solid $pink;
    margin-left: -1px;
    margin-top: 5em;
    padding-left: flex-gutter();
    text-align: left;

    @include media($mobile) {
      margin-top: 0;
      margin-left: 0;
      padding-left: 2 * flex-gutter();
    }
  }

  .moment .title:before {
    background-color: $pink;
    content: '';
    display: block;
    height: 1px;

    position: absolute;
    top: 50%;
    width: 1.5 * flex-gutter();

    @include media($mobile) {
      width: flex-gutter();
      left: -2 * flex-gutter();
      margin-left: -0.1em;
    }
  }

  .moment.left .title:before {
    right: -2 * flex-gutter();
    margin-right: -0.1em;
  }

  .moment.right .title:before {
    left: -2 * flex-gutter();
    margin-left: -0.1em;
  }

  .hearts {
    margin: 0 flex-grid(5);

    @include media($mobile) {
      margin: 0;
    }

    .heart {
      font-size: 4em;
      position: relative;

      &:nth-child(1) {
        color: lighten($pink, 5%);
        left: -25px;

        @include media($mobile) {
          display: none;
        }
      }

      &:nth-child(2) {
        color: darken($pink, 5%);
        font-size: 5em;
        left: -40px;
        z-index: 2;

        @include media($mobile) {
          left: -15px;
        }
      }

      &:nth-child(3) {
        color: lighten($pink, 5%);
        left: -55px;

        @include media($mobile) {
          display: none;
        }
      }
    }
  }
}
