#our_wedding {
  article {
    margin: 40px 0;

    .title {
      color: $pink;
      font-size: 2.0em;
      margin: 10px 0;
      text-align: center;
    }

    .date {
      color: $pink;
      font-size: 1.2em;
      text-transform: uppercase;
      text-align: right;
    }

    .content {
      font-size: 1.6em;
      line-height: 1.2em;
      margin-bottom: 10px;

      p:first-child:first-letter {
        font-family: Sacramento;
        font-size: 2.5em;
        margin-left: 0.5em;
      }

      a.read-more {
        color: $gray;
        font-size: 0.9em;
        margin-left: 6px;
        text-decoration: underline;

        &:hover {
          color: $pink;
        }
      }

      &.expanded {
        display: none;
      }
    }
  }

  article + article {
    .title {
      &:before {
        border-top: 1px dashed $pink;
        content: '';
        display: block;
        margin: 1em 3em 3em;
      }
    }
  }
}

.fb-comments {
  margin-top: 40px;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}
