.new_post, .edit_post {
  input[type='text'], textarea {
    @include transition(all 0.3s ease);
    border: 1px dashed $pink;
    color: $gray;
    font-family: 'Josefin Sans';
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

    @include placeholder {
      color: darken($pink, 10%);
    }

    &:focus {
      border: 1px dashed darken($pink, 40%);
      outline: none;

      @include placeholder {
        color: lighten($pink, 10%);
      }
    }
  }

  label {
    display: block;
    font-size: 1.5em;
  }

  input[type='submit'] {
    background-color: white;
    border: 1px dashed $pink;
    color: darken($pink, 10%);
    cursor: pointer;
    font-family: 'Josefin Sans';
    font-size: 20px;
    padding: 10px;
    text-decoration: none;

    &:hover, &:focus {
      color: darken($pink, 40%);
      border: 1px dashed darken($pink, 40%);
      outline: none;
    }
  }
}

h1 {
  font-family: Sacramento;
  font-size: 4em;
  margin: 2em 0 0.5em;
  text-align: center;
}
